<div id=time_selector>
  <form id="time_form">
   <select name="speed" type="dropdown" id="speed">
    <option value="speed" disabled>Speed</option>
     <option value="0.5">0.5</option>
     <option value="1">1</option>
     <option value="2">2</option>
     <option value="3" selected autofocus>3</option>
     <option value="6">6</option>
     <option value="8">8</option>
     <option value"15">15</option>
     <option value="30">30</option>
   </select>

   <select name="start_time" type="dropdown">
     <option value="start-time" disabled>Start Time</option>
     <option value="0000">00:00</option>
     <option value="0100">01:00</option>
     <option value="0200">02:00</option>
     <option value="0300">03:00</option>
     <option value="0400">04:00</option>
     <option value="0500">05:00</option>
     <option value="0600">06:00</option>
     <option value="0700">07:00</option>
     <option value="0800">08:00</option>
     <option value="0900">09:00</option>
     <option value="1000">10:00</option>
     <option value="1100">11:00</option>
     <option value="1200">12:00</option>
     <option value="1300">13:00</option>
     <option value="1400">14:00</option>
     <option value="1500">15:00</option>
     <option value="1600">16:00</option>
     <option value="1700">17:00</option>
     <option value="1800" selected autofocus>18:00</option>
     <option value="1900">19:00</option>
     <option value="2000">20:00</option>
     <option value="2100">21:00</option>
     <option value="2200">21:00</option>
     <option value="2300">23:00</option>
     <option value="2400">24:00</option>
   </select>

   <select name="end_time" type="dropdown">
     <option value="end-time" disabled>End Time</option>
     <option value="0000">00:00</option>
     <option value="0100">01:00</option>
     <option value="0200">02:00</option>
     <option value="0300">03:00</option>
     <option value="0400">04:00</option>
     <option value="0500">05:00</option>
     <option value="0600">06:00</option>
     <option value="0700">07:00</option>
     <option value="0800">08:00</option>
     <option value="0900">09:00</option>
     <option value="1000">10:00</option>
     <option value="1100">11:00</option>
     <option value="1200">12:00</option>
     <option value="1300">13:00</option>
     <option value="1400">14:00</option>
     <option value="1500">15:00</option>
     <option value="1600">16:00</option>
     <option value="1700">17:00</option>
     <option value="1800">18:00</option>
     <option value="1900">19:00</option>
     <option value="2000">20:00</option>
     <option value="2100">21:00</option>
     <option value="2200" selected autofocus>21:00</option>
     <option value="2300">23:00</option>
     <option value="2400">24:00</option>
   </select>
   <input type='submit' id ="submit_button" class='button quiet' value='Start Playback' name='' />
 </form>
</div>

<div id='map'></div>


<div id='tooltip' class='hidden'></div>

