<div class='main-container'>
  <div id='time_selector'>
    <form id="time_form">


        <div id ="timer" class='button quiet'>00:00:00</div>


      <select name="event" id="event" type="dropdown">
        <option value="event" disabled selected autofocus>EVENT</option>
        <option value="Halloween" >Halloween</option>
        <option value="Bay to Breakers" disabled>Bay to Breakers</option>
        <option value="SF Giants" disabled>SF Giants win the World Series</option>
        <option value="Folsom Street Fair">Folsom Street Fair</option>
      </select>

      <select name="speed" id="speed" type="dropdown">
        <option value="speed" disabled selected autofocus>SPEED</option>
        <option value="20">Slow</option>
        <option value="10" >Medium</option>
        <option value="5">Fast</option>
      </select>

      <select name="start_time" type="dropdown" id="start_time">
       <option value="start-time" disabled selected autofocus>START TIME</option>
       <option value="0000">00:00</option>
       <option value="0100">01:00</option>
       <option value="0200">02:00</option>
       <option value="0300">03:00</option>
       <option value="0400">04:00</option>
       <option value="0500">05:00</option>
       <option value="0600">06:00</option>
       <option value="0700">07:00</option>
       <option value="0800">08:00</option>
       <option value="0900">09:00</option>
       <option value="1000">10:00</option>
       <option value="1100">11:00</option>
       <option value="1200">12:00</option>
       <option value="1300">13:00</option>
       <option value="1400">14:00</option>
       <option value="1500">15:00</option>
       <option value="1600">16:00</option>
       <option value="1700">17:00</option>
       <option value="1800" >18:00</option>
       <option value="1900">19:00</option>
       <option value="2000">20:00</option>
       <option value="2100">21:00</option>
       <option value="2200">22:00</option>
       <option value="2300">23:00</option>
       <option value="2400">24:00</option>
     </select>

       <select name="end_time" type="dropdown" id="end_time">
         <option value="end-time" disabled selected autofocus>END TIME</option>
         <option value="0000">00:00</option>
         <option value="0100">01:00</option>
         <option value="0200">02:00</option>
         <option value="0300">03:00</option>
         <option value="0400">04:00</option>
         <option value="0500">05:00</option>
         <option value="0600">06:00</option>
         <option value="0700">07:00</option>
         <option value="0800">08:00</option>
         <option value="0900">09:00</option>
         <option value="1000">10:00</option>
         <option value="1100">11:00</option>
         <option value="1200">12:00</option>
         <option value="1300">13:00</option>
         <option value="1400">14:00</option>
         <option value="1500">15:00</option>
         <option value="1600">16:00</option>
         <option value="1700">17:00</option>
         <option value="1800">18:00</option>
         <option value="1900">19:00</option>
         <option value="2000">20:00</option>
         <option value="2100">21:00</option>
         <option value="2200">22:00</option>
         <option value="2300">23:00</option>
         <option value="2400">24:00</option>
       </select>
       <input type='submit' id ="submit_button" class='button quiet' value='Start Playback' name='' />
     </form>
    </div>

    <div id='map'></div>
  </div>

<div id='feed-container'>

<div class='social'>
  <div class='instapulse'>INSTA <br> PULSE</div>
  <div class="fb-like" data-href="http://instapulse.herokuapp.com/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>

  <div id='feed-title'>
    <div>Select the event, speed, start and end time then click Start Playback. Click on dots then on photos to save them to this feed.</div>
  </div>

</div>


    <div id="loading_icon" class="hidden"> </div>
    <div id='tooltip' class='hidden'></div>

