/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body { 
 	margin:0; 
 	padding:0;
 }

 #map { 
 	position:absolute; 
 	top:0; 
 	bottom:0; 
 	width:100%; 
 }

 #tooltip {
  position: absolute;
  background-color: #ecf0f1;
  border: 2px solid #bdc3c7;
  z-index: 999;
  box-shadow: 5px 5px 15px #333;
  bottom: 50px;
  right: 50px;
  height: 200px;
  width: 200px;
 }

 .hidden {
  display: none;
 }

 .leaflet-marker-icon {
 	content:url("http://imgur.com/hZE9VrA.png");
 }

 .leaflet-marker-icon[style]{
 	 	width:5px !important;
 		height:5px !important;
 }
