/*CSS for markers that show up on the map.*/

/*.leaflet-marker-icon {
 	content:url("http://imgur.com/hZE9VrA.png");
 }

 .leaflet-marker-icon[style]{
 	 	width:5px !important;
 		height:5px !important;
 }
*/