#feed-container {
  position: absolute ;
  bottom: 0px;
  left: 1.5%;
  background-color: #656562;
  border-radius: 4px 4px 0 0;
  width:97%;
  height:21%;
  z-index: 2;
  padding: 0.3%;
  overflow:auto;
  opacity:0.85;
  margin: auto;
}

.feed-photo {
  display: block;
  width: 150px;
  height: 170px;
  padding: 0.5em;
  margin: 0.625em 0.625em 0.625em 0.625em;
  float: left;
  background-color: #E0E1E0;
}

#feed-title{
  color: #ecf0f1;
  padding: .20em;
  margin-left: 0.7em;
  margin-right: 0.25em;
  margin-top: 0.50em;
  font-size: 1.5em;
  line-height: 125%;
  letter-spacing: 2px;
  width: 19%;
  height: 150px;
  font-weight: 400;
}



@media screen and (max-width: 650px) {
  #feed-title{

    margin-left: 5%;
    width: 60%;
  }

  #feed-container {
    position: absolute;
    left: 2%;
    background-color: #656562;
    border-radius: 4px 4px 0 0;
    z-index: 2;
    padding: 0.5%;
    margin: auto;
    overflow-y: hidden;
    padding: 0.5%;
    bottom: 0px;
    width:98%;
    height:200px;
    overflow-x:scroll;
    white-space:nowrap;
    opacity:0.85;
  }

  .feed-photo {
   width:150px;
   height:170px;
   display:inline-block;
   background:#eee;
   border:1px dotted #ddd;
   padding: 0.5em;
   margin: 0.625em 0.625em 0.625em 0.625em;
   background-color: #E0E1E0;
 }

 @media screen and (max-width: 500px) {
  #feed-container {
    height: 175px;
  }

  #feed-title{
    font-size: 1.5em;
  }

}