/*#time_selector {
  background-color: #969491;
  border-radius: 2px;
  margin: 1%;
  padding: 0.5%;
  position: relative;
  opacity: .85;
  text-align: center;
  z-index: 2;
}

#timer{
  padding-left: 2%;
  padding-right: 3%;
  text-align: center;
  width: 10em;
}
select {
  background: none;
  background-color: rgba(0,0,0,.25);
  border: 0;
  border-radius: 3px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.80em;
  margin: 0.5em;
  padding: 0.75em;
  text-shadow:rgba(0,0,0,0) 0px -1px;
  width: 10%;
  -webkit-font-smoothing:antialiased;
  -webkit-appearance: none;
}

.button.quiet {
  color: #61D6E5;
  font-size: 0.80em;
  font-weight: 700;
}

select[type=dropdown]:hover {
  color:white;
  background-color:rgba(0,0,0,.5);
  box-shadow:
    inset rgba(0,0,0,0) 0 0 0,
    inset rgba(0,0,0,0) 0 0 0;
  }

input {
	padding: 100px;
}

@media screen and (max-width: 650px) {
  select {
    margin: 0.1%;
    width: 32%;
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 500px) {
	select {
    margin: 0.1%;
    width: 17%;
    margin-bottom: 1%;
    font-size: 0.7em;
  }

  #timer {
    padding-top: 8px;
    height: 32px;
    width: 75px;
    text-align: left;
  }
}*/*/*/