/*CSS for nav bar at the top of window*/


#time_selector {
	position: relative;
  background-color: #BF220F;
  text-align: center;
  padding: 0.5%;
  z-index: 2;
  margin: 1.2%;
  border-radius: 2px;
  opacity: .85;
  padding: 5px;
}

select {
	font-family: 'Montserrat', sans-serif;
  background: none;
  background-color: rgba(0,0,0,.25);
  width: 20%;
  font-size: 0.75em;
  border: 0;
  border-radius: 1;
  padding: 0.75em;
  margin: 0.5em;

  
  color:white;
  text-shadow:rgba(0,0,0,0) 0px -1px;
  -webkit-font-smoothing:antialiased;
	-webkit-appearance: none;

}

select[type=dropdown]:hover {
  color:white;
  background-color:rgba(0,0,0,.5);
  box-shadow:
    inset rgba(0,0,0,0) 0 0 0,
    inset rgba(0,0,0,0) 0 0 0;
  }

input {
	padding: 100px;
}

option {

}