CSS for pop-up tooltip when interacting with markers*/

tooltip {
  position: absolute;
  background-color: #ecf0f1;
  border: 2px solid #bdc3c7;
  z-index: 999;
  box-shadow: 5px 5px 15px #333;
  bottom: 50px;
  right: 50px;
  height: 200px;
  width: 200px;

 }


 .hidden {
  display: none;
 }




/* edit tooltip box*/
/*
  .leaflet-popup-content{
    width: 100% !important;
    margin: 0;
  }*/

 .leaflet-popup-content-wrapper {
    background-color: transparent;

    width: 185px;
    height: 168px;
 }


 a.leaflet-popup-close-button {
  color: white !important;
  font-size: 20px !important;
  padding-top: 15px !important;
  padding-right: 35px !important;
  100px !important;
  text-shadow: 0px 0px 5px #000;
}

 .pop-up{
    bottom: 100px;
    box-shadow: 2px 2px 15px #000;
 }

/*Might need for tooltips later*/
 /*.leaflet-popup-tip-container {
  margin-bottom: 0px;
  }
*/

 /*.leaflet-popup-tip {
    margin-bottom: 5em;
    background-color: #ecf0f1;
    box-shadow: 2px 2px 15px #000;
    z-index: 100;
 }